@using RazorInroduction.ViewComponentsAndPartialView.Web.Models.ViewModels
@model WomanCategoryViewModel
@{
    ViewData["Title"] = "Index";
    ViewData["Category"] = "Woman";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="~/Views/Shared/Partials/_Menu.cshtml" model="Model.MenuViewModel" />

<div class="container mt-5">
    <div class="row">
        @foreach (var item in Model.Products)
        {
            <div class="col-3 mb-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.Image" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">
                            <currency ref="tr">
                                @item.Price
                            </currency>
                        </p>
                        <a href="#" class="btn btn-danger">Detail</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row mt-5">
        <partial name="~/Views/Shared/Partials/Woman/_WomansDay.cshtml" model="Model.WomansDayViewModel" />
    </div>
</div>

<partial name="~/Views/Shared/Partials/_PopularProducts.cshtml" model="Model.PopularProductViewModel" />


