@model List<Product>
@{
    ViewData["Title"] = "Child";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<vc:menu menu-type="Child" color="bg-success"></vc:menu>

<div class="container mt-5">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.Image" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Price</p>
                        <a href="#" class="btn btn-success">Detail</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

