@model MenuViewModel
@{
    ViewData["Title"] = "Child";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Child</h1>

@await Html.PartialAsync("_MenuPartialView", Model)
@await Component.InvokeAsync("Menu", new{type = "Child", color = "bg-success"})
