@model MenuViewModel
@{
    ViewData["Title"] = "Child";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Child</h1>

<partial name="_MenuPartialView" model="Model">

<vc:menu type="Child" color="bg-success"></vc:menu>

