@model MenuViewModel
@{
    ViewData["Title"] = "Man";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Man</h1>

@await Html.PartialAsync("_MenuPartialView", Model)

@await Component.InvokeAsync("Menu", new{type = "Man", color = "bg-primary"})


<partial name="_MenuPartialView" model="Model">

<vc:menu type="Man" color="bg-primary"></vc:menu>

