@model MenuViewModel
@{
    ViewData["Title"] = "Woman";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Woman</h1>



  <partial name="_MenuPartialView" model="Model"/>
  <vc:menu type="Woman" color="bg-danger"></vc:menu>

