@model MenuViewModel
@{
    ViewData["Title"] = "Woman";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Woman</h1>

@await Html.PartialAsync("_MenuPartialView", Model)
@await Component.InvokeAsync("Menu", new{type = "Woman", color = "bg-danger"})
