@model List<Product>
@{
    ViewData["Title"] = "Woman";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<vc:menu menu-type="Woman" color="bg-danger"></vc:menu>

<div class="container mt-5">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.Image" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">
                            <currency ref="tr">
                                @item.Price
                            </currency>
                        </p>
                        <a href="#" class="btn btn-danger">Detail</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row mt-5">
        <div class="card">
            <h5 class="card-header" style="background-color:#f8d7da">Women's day</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <h5 class="card-title">Happy 8 March International Women's Day</h5>
                        <p class="card-text">Check out today's discounted products</p>
                        <a href="#" class="btn btn-danger">See more</a>
                    </div>
                    @foreach (var item in Enumerable.Range(1, 8))
                    {
                        <div class="col-1">
                            <img class="card-img-top" src="/images/smallImage.png" width="100" height="100" alt="Card image cap">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

