@using RazorInroduction.ViewComponentsAndPartialView.Web.Models.ViewModels
@model PopularProductViewModel


@if (Model.Products?.Count > 0)
{
    <div class="row mt-5">
        <div class="card">
            <h5 class="card-header" style="background-color:@Model.Color?.Secondary">Most popular products</h5>
            <div class="card-body">
                <div class="row">
                    @foreach (var item in Model.Products)
                    {
                        <div class="col-2">
                            <div class="card">
                                <img class="card-img-top" src="/images/middleImage.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Name</h5>
                                    <p class="card-text">
                                        <currency ref="tr">
                                            @item.Price
                                        </currency>
                                    </p>
                                    <a href="#" class="btn btn-@Model.Color?.Primary">Detail</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

